*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    
}

body {

    overflow-x: hidden;
    background-color: #030716;

}


.Btn {

    width: 80px;
    height: 80px;
    cursor: pointer;
    mix-blend-mode: color-burn;
    background-color: transparent;
    border-color: transparent;
    display: none;

}

nav ul {

    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;

}

nav ul li {

    display: inline-block;
    margin: 10px 20px;

}

nav ul li a {

    color: #ffff;
    text-decoration: none;

}

.Header {
    height: 100px;
    width: 100%;
    padding: 0 8%;
    background-color: #811a28;
    position: fixed;
    margin-top: -100px;
    z-index: 10;
}

.Header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
    background-color: #811a28;

}

.LogoHeader {

    margin-top: 10px;
    width: 5%;
    height: 5%;

}

.enlace {

    color: #fffafa;
    padding: 0.5rem;
    position: relative;

}

.enlace::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fffafa;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;

}

.enlace::before {

    bottom: 0;
    left: 0;

}

.enlace:hover::before {

    transform: scaleX(1);

}


.Conteiner {
    
    margin-top: 400px;
    padding: 10px 8%;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
    display: flex;
    flex-direction: row;
}

.ImagenPresentacion {
    
    margin-top: -200px;
    width: 80%;
    height: auto;
    margin-left: -200px;
    order: 1;
    z-index: 1;
}

.Presentacion {

    margin-right: 50px;
    position: absolute;
    order: 2;
    text-align: right;
    z-index: 2;
    text-align: right;
    line-height: 1.5;
    color: #fffafa;

}




.Disclaimer {
    
    font-size: smaller;
    text-align: right;
    z-index: 2;

}

.Personajes {
    
    position: relative;
    margin-top: 100px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #030716), url('Images/Fondo.jpg');    
    background-size: cover;
    background-position: center;

}

.LogoPortada {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.CharacterLeft1, .CharacterLeft2, .CharacterLeft3 {
    
    position: relative;
    width: calc(33.333% - 10px);
    height: auto;
    margin-right: 0px;
    margin-top: 20px;


}



.CharacterLeft1 {

    position: absolute;
    top: -50px;
    width: 35%;
    height: auto;
    margin-left: 0px;

}

.CharacterLeft2 {

    position: relative;
    width: 20%;
    height: auto;
    margin-top: 485px;   

}

.CharacterLeft3 {

    position: relative;
    width: 28%;
    height: auto;
    margin-left: -40px;

}

.CharacterRight1, .CharacterRight2, .CharacterRight3 {
    position: relative;
    width: calc(33.333% - 10px);
    height: auto;
    margin-left: 0px; 
    margin-top: 20px;
}

.CharacterRight1 {
    position: absolute;
    top: -60px;
    width: 40%;
    height: auto;
    right: 0; 
}

.CharacterRight2 {

    position: relative;
    width: 22%;
    height: auto;
    margin-top: 475px;
    margin-left: 124px;   

}

.CharacterRight3 {

    position: absolute;
    width: 24%;
    height: auto;
    right: 0;
    margin-top: 413px;

}


