*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    
}

body {

    overflow-x: hidden;
    background-color: #030716;

}


.Btn {

    width: 80px;
    height: 80px;
    cursor: pointer;
    mix-blend-mode: color-burn;
    background-color: transparent;
    border-color: transparent;
    display: none;

}

nav ul {

    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;

}

nav ul li {

    display: inline-block;
    margin: 10px 20px;

}

nav ul li a {

    color: #ffff;
    text-decoration: none;

}

.Header {
    height: 15%;
    width: 100%;
    padding: 0 8%;
    background-color: #811a28;
    position: fixed;
    top: 0;
    z-index: 10;
}

.Header nav {
    display: flex;
    margin-top: 0%;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
    background-color: #811a28;

}

.LogoHeader {

    margin-top: 10px;
    width: 5%;
    height: 5%;

}

.enlace {

    color: #fffafa;
    padding: 0.5rem;
    position: relative;

}

.enlace::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fffafa;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;

}

.enlace::before {

    bottom: 0;
    left: 0;

}

.enlace:hover::before {

    transform: scaleX(1);

}


.Conteiner {
    
    margin-top: 15vh;
    padding: 10px 8%;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
    display: flex;
    flex-direction: row;
}

.ImagenPresentacion {
    
    position: absolute;
    margin-top: 50vh;
    width: 80%;
    height: auto;
    margin-left: -20vh;
    order: 1;
    z-index: 1;
}

.Presentacion {

    margin-top: 75vh;
    margin-right: 10vh;
    position: absolute;
    order: 2;
    text-align: right;
    z-index: 2;
    text-align: right;
    line-height: 1.5;
    color: #fffafa;

}




.Disclaimer {
    
    font-size: smaller;
    text-align: right;
    z-index: 2;

}


.Personajes {
    
    height: 100vh;
    display: flex;
    margin-top: 7%;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #030716), url(Images/Fondo.jpg);    
    background-position: center;
    background-size: cover;
}


.LogoPortada {

    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.CharacterLeft1 {

    position: absolute;
    top: 20%;
    width: 35%;
    height: auto;
    margin-left: 0;

}

.CharacterLeft2 {

    position: absolute;
    width: 20%;
    height: auto;
    margin-top: 58.2%;   

}

.CharacterLeft3 {

    position: absolute;
    width: 27%;
    height: auto;
    margin-top: 58.8%;
    margin-left: 20%;

}

.CharacterRight1 {
    position: absolute;
    top: 20%;
    width: 40%;
    height: auto;
    right: 0; 
}

.CharacterRight2 {

    position: absolute;
    width: 22.4%;
    height: auto;
    margin-top: 57%;
    right: 22.8%;   

}

.CharacterRight3 {

    position: absolute;
    width: 24%;
    height: auto;
    right: 0;
    margin-top: 52.8%;

}

@media screen and (max-width: 1200px) {

    .Header {

        height: 8vh;
        width: 100%;
        padding: 0 14%;
        background-color: #811a28;
        position: fixed;
        top: 0;
        z-index: 10;
        
    }

    .Header nav {
        
        margin-top: -10%;
        display: flex;
        height: 8%;
        align-items: center;
        justify-content: space-between;
        font-size: medium;
        font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, sans-serif;
        background-color: #811a28;
        text-align: center;
        margin-top: none;
    
    }

    .LogoHeader {

        margin-top: 0;
        width: auto;
        height: 6vh;
        left: 0;
    
    }

    .Header nav {

        margin-top: 3%;
    }

    .LogoHeader {

        width: 6%;
    }
    
    .CharacterLeft1 {

        position: absolute;
        top: 5%;
        width: 40%;
        height: auto;
        margin-left: 0;
    
    }

    .CharacterLeft2 {

        position: absolute;
        width: 32%;
        height: auto;
        margin-top: 28%;   
    
    }
    
    .CharacterLeft3 {
    
        position: absolute;
        width: 40%;
        height: auto;
        margin-top: 74%;
        margin-left: 0;
    
    }
    
    .CharacterRight1 {
        position: absolute;
        top: 6%;
        width: 45%;
        height: auto;
        right: 0; 
    }
    
    .CharacterRight2 {
    
        position: absolute;
        width: 32%;
        height: auto;
        margin-top: 72.5%;
        right: 0;   
        z-index: 3;
    
    }
    
    .CharacterRight3 {
    
        position: absolute;
        width: 34%;
        height: auto;
        right: 0;
        margin-top: 25.5%;
        z-index: 2;
    
    }

    .LogoPortada {

        transform: rotate(90deg);
        margin-left: -22%;
        width: 50%;
        margin-top: 18%;
    }

    .ImagenPresentacion {

        margin-left: 12%;
        margin-top: 35%;
    }

    .Presentacion {

        text-align: center;
        margin-top: 35%;
    }

    .Disclaimer {

        text-align: center;
    }

    @media screen and (max-width: 750px) {

        .Header {

            height: 12%;
        }
        
        .Header nav {

            margin-top: 8.5%;
        }

        .LogoHeader {

            width: 15%;
            height: auto;
        }
        
        .CharacterLeft1 {

            position: absolute;
            top: 15%;
            width: 40%;
            height: auto;
            margin-left: 0;
        
        }
    
        .CharacterLeft2 {
    
            position: absolute;
            width: 32%;
            height: auto;
            margin-top: 8%;   
        
        }
        
        .CharacterLeft3 {
        
            position: absolute;
            width: 40%;
            height: auto;
            margin-top: 54%;
            margin-left: 0;
        
        }
        
        .CharacterRight1 {
            position: absolute;
            top: 12%;
            width: 45%;
            height: auto;
            right: 0; 
        }
        
        .CharacterRight2 {
        
            position: absolute;
            width: 32%;
            height: auto;
            margin-top: 52.5%;
            right: 0;   
            z-index: 3;
        
        }
        
        .CharacterRight3 {
        
            position: absolute;
            width: 34%;
            height: auto;
            right: 0;
            margin-top: 5.5%;
            z-index: 2;
        
        }

        .LogoPortada {

            margin-top: -5%;
        }

        .Conteiner {

            margin-top: 0;
        }

        .ImagenPresentacion {

            width: 200%;
            margin-left: -5%;
        }

    }

    @media screen and (max-width: 450px) {

        .Header {

            margin-top: 10%;
        }
    
        .CharacterLeft2 {
    
            position: absolute;
            width: 32%;
            height: auto;
            margin-top: -28%;   
        
        }
        
        .CharacterLeft3 {
        
            position: absolute;
            width: 40%;
            height: auto;
            margin-top: 54%;
            margin-left: 0;
        
        }
        
        .CharacterRight2 {
        
            position: absolute;
            width: 32%;
            height: auto;
            margin-top: 52.5%;
            right: 0;   
            z-index: 3;
        
        }
        
        .CharacterRight3 {
        
            position: absolute;
            width: 34%;
            height: auto;
            right: 0;
            margin-top: -25.5%;
            z-index: 2;
        
        }

    }

}

